.b-solid {
  border: solid black;
}

.block {
  display: block;
}

.btn {
  margin: 6px;
  flex-direction: column;
  display: block;
}

.j-center {
  justify-content: center;
}

.p {
  padding: 1.5rem;
}

#scoreboard {
  display: none;
}

#timer {
  display: none;
}

#restartQuiz {
  display: none;
}
